<% unless @all_spaces.empty? %>

  <h3>All spaces</h3>

  <ul>
    <% @all_spaces.each do |space| %>
      <li><%= space.current.name %></li>
      <li><%= space.current.description %></li>
      <li><%= space.current.price %> </li>
    <% end %>
  </ul>

<% end %>
<!--
<% if @user.spaces%>
  <h3>Your spaces</h3>

  <ul>
    <% @user.spaces.each do |space| %>
      <li><%= space.name %></li>
      <li><%= space.des %></li>
      <li><%= space.price %> </li>
    <% end %>
  </ul>

<% end %>
-->
<a href="spaces/new">List a Space</a>

